
body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h2{
  margin-left:20px;
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  margin-right:5px;
  background-color: #6c0707;
  color: white;
  display: flex;
  align-items: center;
}

#searchBar{
  display:flex;
  justify-content:end;
  padding:5px;
}

#searchBar input{
  border:3px black solid;
}

#navbar div {
  padding: 5px;
  justify-content: end;
}

#components {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 80%;
  min-height: 500px;
  background-color: white;
  color: rgb(0, 0, 0);
}

#components div {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
}

.dog {
  display:flex;
  padding: 5px;
  margin-top:5%;
  margin-left:2%;
  width:200px;
  height:400px;
  background-color:rgb(200, 200, 200);
  align-items:center;
  justify-content:space-evenly;
  flex-direction:column;
  border:#6c0707 solid 5px;
  border-radius:10px;
}

#breeds{
  min-height:50px;
  text-align:center;
  align-items:center;
  justify-content:center;
}

#images{
  width:191px;
  height:290px;
}

.dog:hover{
  /* width:210px;
  height:420px; */
  background-color:rgb(225,225,225);
}

