
body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #6c0707;
  color: white;
  display: flex;
  align-items: center;
}

#navbar div {
  padding: 5px;
  justify-content: end;
}

#components {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 80%;
  min-height: 500px;
  background-color: white;
  color: rgb(0, 0, 0);
}

#components div {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.box {
  padding: 5px;
  margin-top:5%;
  margin-left:2%;
  width:200px;
  height:400px;
  background-color:rgb(217, 217, 217);
  justify-content:center;
}
